body {
  background-color: lightblue;
}
p {
  font-family: verdana;
  font-size: 20px;
}
nav{
background: rgb(20, 101, 107);
}
div{
/* display: grid; */

}
div.parent{
display: grid;
grid-template-columns: 150px auto;
min-height: 100vh;
grid-gap: 10px;
}
div.child{
background: rgb(21, 168, 161);
}
.box{
width: 100px;
height: 100px;
background: yellow;
border: 5px solid black;
}
p {
  background: rgb(194, 194, 194);
}
.paragraph_2 {
  background: rgb(56, 56, 156); 
}
#paragraph_3{
  background: rgb(72, 136, 72);
}
p:nth-child(2) strong {
  background:pink;
}
a{
text-decoration: none;
  
}
nav li {
margin-bottom: 10px;
  list-style-type: none;
}
nav ul {
  padding: 0;
}
.block-div{
  background: turquoise;
  display: block;
  border-width:3px ;
  border-color: black;
  border-style: solid;
  padding: 1rem;
  margin: 2rem;
}
#spacing-lesson{
  width: 350px;
  height: px;
  margin: auto;
  padding:25px ;
  margin-top: 25px; 
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px purple;
}
.inline-div {
  display: inline;
  background-color: purple;
  color: white;
}
.bi {
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
 html{
   background: DarkSalmon	;
 }